body {
	background: rgb(244,244,244);
	color: black;
	text-align: center;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
.color-button{
	width:70px;
	height:70px;
	margin:10px;
	overflow:hidden;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
}
.line-break{
    display:block;
    background-color:black;
    height:2px;
    width:50;
}
ul{
    padding:0;
    list-style-type: none;
}
li{
	display:inline;
}
header{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
#main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
	background-color: rgb(255, 255, 255);
	margin: 0 auto;
	padding: 20px;
	min-width: 250px;
	max-width: 500px;
	user-select: none;
}
#color-section{
    display:none;
}
.gen-button{
	border: none;
	border-radius: 10%;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
}
button:active{
	box-shadow: none;
}